---
layout: default
---
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

     <p align="center" class=bottom-small><img src="{{ site.url }}/assets/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/assets/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 I have a <strong>PhD</strong> in Information and Communication Technologies from <a href="https://www.upf.edu/en/" target="_blank">Universitat Pompeu Fabra</a>, Barcelona (Spain).</p>
    <p align="center">&#8226 I am core member of the <a href="" target="_blank"> Architectures and Telematic Services </a> research group, together with <a href="http://ast-deim.urv.cat/wppedro/" target="_blank">Professor Pedro Garcia Lopez</a>.</p>
    <p align="center" class="bottom-three">&#8226 I received a MsC in <strong>Computer Engineering</strong> from <a href="http://www.urv.cat/en/" target="_blank">Universitat Rovira i Virgili</a>, Tarragona (Spain).</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/assets/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center"> &#8226 <strong>Catalan </strong> is my mother tongue.</p>
    <p align="center"> &#8226 I speak <strong>Spanish</strong> as a native speaker.</p>
    <p align="center"> &#8226 My <strong>English</strong> is proficient.</p>

    <br /> <br />


    {{ content }}


  </div>
</div>




   



      
    
    
    
    
    