---
layout: default
---

<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */

/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}

</style>

<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
</script>


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}


<h4 style="margin-bottom:0px;padding-top:20px;">Top-Tier Vision Conference Publications</h4>

<ul class="biblist">

<li ><p>
<a href="http://www.vision.ee.ethz.ch/~kmaninis" target="_blank">K.K. Maninis</a>, J. Pont-Tuset, <a href="https://biomedicalcomputervision.uniandes.edu.co" target="_blank">P. Arbeláez</a> and <a href="http://www.vision.ee.ethz.ch/members/get_member.cgi?id=1" target="_blank">L. Van Gool</a><br><b>Convolutional Oriented Boundaries: From Image Segmentation to High-Level Tasks</b><br>
<i>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</i>,
2017.
<br />
<a href="javascript:toggleBibtex('Maninis2017')">[BibTeX]</a>
<a href="http://arxiv.org/abs/1701.04658" target="_blank">[PDF]</a> <a href="http://www.vision.ee.ethz.ch/~cvlsegmentation/cob/"  target="_blank">[Project Page]</a>
</p>
<div id="bib_Maninis2017" class="bibtex noshow">
<pre>
@article{Maninis2017,
  author = {Maninis, Kevis-Kokitsi and Pont-Tuset, Jordi and Arbel&aacute;ez, Pablo and Van Gool, Luc},
  title = {Convolutional Oriented Boundaries: From Image Segmentation to High-Level Tasks},
  journal = {IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)},
  year = {2017}
}
</pre>
</div>
</li>

<li ><p>
<a href="https://graphics.ethz.ch/~perazzif/" target="_blank">F. Perazzi</a>, J. Pont-Tuset, 
<a href="https://www.inf.ethz.ch/personal/mcbrian/" target="_blank">B. McWilliams</a>, <a href="http://www.vision.ee.ethz.ch/members/get_member.cgi?id=1" target="_blank">L. Van Gool</a>, <a href="https://graphics.ethz.ch/people/grossm/" target="_blank">M. Gross</a> and 
<a href="http://www.ahornung.net" target="_blank">A. Sorkine-Hornung</a>
<br><b>A Benchmark Dataset and Evaluation Methodology for Video Object Segmentation</b><br>
<i>Computer Vision and Pattern Recognition (CVPR)</i>,
2016
<br />
<a href="javascript:toggleBibtex('Perazzi2016')">[BibTeX]</a>
<a href="http://www.cv-foundation.org/openaccess/content_cvpr_2016/papers/Perazzi_A_Benchmark_Dataset_CVPR_2016_paper.pdf" target="_blank">[PDF]</a> <a href="https://graphics.ethz.ch/~perazzif/davis/index.html" target="_blank">
[Project Page]</a> 
</p>
<div id="bib_Perazzi2016" class="bibtex noshow">
<pre>
@inproceedings{Perazzi2016,
  author = {F. Perazzi and J. Pont-Tuset and B. McWilliams and L. Van Gool and M. Gross and A. Sorkine-Hornung},
  title = {A Benchmark Dataset and Evaluation Methodology for Video Object Segmentation},
  booktitle = {Computer Vision and Pattern Recognition (CVPR)},
  year = {2016}
}
</pre>
</div>
</li>
</ul>


    {{ content }}
  </div>
</div>




   
      



      
    
    
    
    
    