---
layout: default
---

<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */

/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}

</style>

<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
</script>


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {{ content }}

<h4 style="margin-bottom:0px;padding-top:20px;">Recent Relevant Publications</h4>

<ul class="biblist">

<li ><p>
Raul Gracia-Tinedo, Josep Sampe, Edgar Zamora-Gomez, <b>Marc Sanchez-Artigas</b>, Pedro Garcia-Lopez, Yosef Moatti, Eran Rom
<br><b>Crystal: Software-Defined Storage for Multi-Tenant Object Stores</b><br>
<i>37th 15th USENIX Conference on File and Storage Technologies (FAST) </i>, 2017
<br />
<a href="javascript:toggleBibtex('Gracia2017')">[BibTeX]</a>
<a href="https://www.usenix.org/system/files/conference/fast17/fast17-gracia-tinedo.pdf" target="_blank">[PDF]
</p>
<div id="bib_Gracia2017" class="bibtex noshow">
<pre>
@inproceedings{Gracia17,
  author    = {Ra{\'{u}}l Gracia Tinedo and
               Josep Samp{\'{e}} and
               Edgar Zamora{-}G{\'{o}}mez and
               Marc S{\'{a}}nchez Artigas and
               Pedro Garc{\'{\i}}a L{\'{o}}pez and
               Yosef Moatti and
               Eran Rom},
  title     = {Crystal: Software-Defined Storage for Multi-Tenant Object Stores},
  booktitle = {15th USENIX Conference on File and Storage Technologies, FAST 2017, Santa Clara, CA, USA, February 27 - March 2, 2017},
  pages     = {243--256},
  year      = {2017},
}</pre>
</div>
</li>

<li ><p>
Pierre Sutra, Etienne Riviere, Cristian Cotes, <b>Marc Sanchez-Artigas</b>, Pedro Garcia-Lopez, Emmanuel Bernard, William Burns, Galder Zamarreno
<br><b>CRESON: Callable and Replicated Shared Objects over NoSQL</b><br>
<i>37th IEEE International Conference on Distributed Computing Systems (ICDCS) </i>, 2017
<br />
<a href="javascript:toggleBibtex('Sutra2017')">[BibTeX]</a>
</p>
<div id="bib_Sutra2017" class="bibtex noshow">
<pre>
@inproceedings{Sutra17,
  author    = {Pierre Sutra and
               Etienne Riviere and
               Cristian Cotes and
               Marc S{\'{a}}nchez Artigas and
               Pedro Garc{\'{\i}}a L{\'{o}}pez and
               Emmanuel Bernard and
               William Burns and
               Galder Zamarreno},
  title     = {CRESON: Callable and Replicated Shared Objects over NoSQL},
  booktitle = {37th IEEE International Conference on Distributed Computing Systems, ICDCS 2017, Atlanta, GA, USA, June 5-8, 2017},
  pages     = {115--128},
  year      = {2017},
 }
</pre>
</div>
</li>


<li ><p>
Yosef Moatti, Eran Rom, Raul Gracia-Tinedo, Dalit Naor, Doron Chen, Josep Sampe, <b>Marc Sanchez-Artigas</b>, Pedro Garcia-Lopez, Filip Gluszak, Eric Deschdt, Francesco Pace, Daniele Venzano, Pietro Michiardi
<br><b>Too Big to Eat: Boosting Analytics Data Ingestion from Object Stores with Scoop</b><br>
<i>{33rd IEEE International Conference on Data Engineering (ICDE)  </i>, 2017
<br />
<a href="javascript:toggleBibtex('Moatti2017')">[BibTeX]</a>
</p>
<div id="bib_Moatti2017" class="bibtex noshow">
<pre>
@inproceedings{Moatti17,
  author    = {Yosef Moatti and
               Eran Rom and
               Ra{\'{u}}l Gracia Tinedo and
               Dalit Naor and
               Doron Chen and
               Josep Samp{\'{e}} and
               Marc S{\'{a}}nchez Artigas and
               Pedro Garc{\'{\i}}a L{\'{o}}pez and
               Filip Gluszak and
               Eric Deschdt and
               Francesco Pace and
               Daniele Venzano and
               Pietro Michiardi},
  title     = {Too Big to Eat: Boosting Analytics Data Ingestion from Object Stores
               with Scoop},
  booktitle = {33rd IEEE International Conference on Data Engineering, ICDE 2017, San Diego, CA, USA, April 19-22, 2017},
  pages     = {309--320},
  year      = {2017},
 }
</pre>
</div>
</li>

<li ><p>
Mennan Selimi, Llorenc Cerda-Alabern, <b>Marc Sanchez-Artigas</b>, Felix Freitag, Luis Veiga
<br><b>Practical Service Placement Approach for Microservices Architecture</b><br>
<i>17th IEEE/ACM International Symposium on Cluster,                Cloud and Grid Computing (CCGRID) </i>, 2017
<br />
<a href="javascript:toggleBibtex('Selimi2017')">[BibTeX]</a>
</p>
<div id="bib_Selimi2017" class="bibtex noshow">
<pre>
@inproceedings{Selimi17,
 author    = {Mennan Selimi and
               Lloren{\c{c}} Cerd{\`{a}}{-}Alabern and
               Marc S{\'{a}}nchez Artigas and
               Felix Freitag and
               Lu{\'{\i}}s Veiga},
  title     = {Practical Service Placement Approach for Microservices Architecture},
  booktitle = {17th IEEE/ACM International Symposium on Cluster,
               Cloud and Grid Computing, CCGRID 2017, Madrid, Spain, May 14-17,2017},
  pages     = {401--410},
  year      = {2017},
 }
</pre>
</div>
</li>


<li ><p>
Raul Saiz, <b>Marc Sanchez-Artigas</b>, Pedro Garcia_Lopez 
<br><b>RSD: Rate-based Sync Deferment for Personal Cloud Storage Services</b><br>
<i>IEEE Communications Letters</i>,
2017.
<br />
<a href="javascript:toggleBibtex('Saiz2017')">[BibTeX]</a>
</p>
<div id="bib_Saiz2017" class="bibtex noshow">
<pre>
@article{Saiz2017,
  author={R. S\'{a}iz-Laud\'{o} and 
	Marc S{\'{a}}nchez Artigas and 
	Pedro Garc{\'{\i}}a L{\'{o}}pez},
journal={IEEE Communications Letters},
title={RSD: Rate-based Sync Deferment for Personal Cloud Storage Services},
year={2017},
volume={PP},
number={99},
pages={1-1},
keywords={Cloud computing;Data transfer;Delays;Google;Synchronization;Tools;Personal Cloud storage;file sync deferment},
doi={10.1109/LCOMM.2017.2731848},
ISSN={1089-7798},
month={},}
}
</pre>
</div>
</li>
</ul>

  </div>
</div>




   
      



      
    
    
    
    
    