---
layout: default
---

<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */

/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}

</style>

<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
</script>


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {{ content }}

<h4 style="margin-bottom:0px;padding-top:20px;">Research Highlights</h4>

<p>
Representative publications spanning distributed systems, cloud storage,
serverless computing, and WebAssembly.
</p>

<ul class="biblist">

<li>
<p>
⭐ <b>Optimizing WebAssembly Garbage Collection in Go: Performance Insights, Tuning Tips, and Batch Execution Strategies</b><br>
Safia Guellil, <b>Marc Sánchez-Artigas</b><br>
<i>IEEE ICDCS</i>, 2025 · ICORE A<br>
<a href="https://doi.org/10.1109/ICDCS63083.2025.00071" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
⭐ <b>On Data Processing through the Lenses of S3 Object Lambda</b><br>
Pablo Gimeno Sarroca, <b>Marc Sánchez-Artigas</b><br>
<i>IEEE INFOCOM</i>, 2023 · CORE A*<br>
<a href="https://doi.org/10.1109/INFOCOM53939.2023.10228890" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
⭐ <b>A Seer Knows Best: Optimized Object Storage Shuffling for Serverless Analytics</b><br>
<b>Marc Sánchez-Artigas</b>, Germán T. Eizaguirre<br>
<i>ACM/IFIP Middleware</i>, 2022 · CORE A<br>
<a href="https://doi.org/10.1145/3528535.3565241" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
⭐ <b>Towards Enhancing Cost Efficiency in Serverless Machine Learning Training</b><br>
<b>Marc Sánchez-Artigas</b>, Pablo Gimeno Sarroca<br>
<i>ACM/IFIP Middleware</i>, 2021 · CORE A<br>
<a href="https://doi.org/10.1145/3464298.3494884" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
⭐ <b>On the FaaS Track: Building Stateful Distributed Applications with Serverless Architectures</b><br>
Daniel Barcelona Pons, <b>Marc Sánchez-Artigas</b>, Pierre Sutra, Pedro García López<br>
<i>ACM/IFIP Middleware</i>, 2019 · CORE A<br>
<a href="https://doi.org/10.1145/3361525.3361535" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
⚙️ <b>Serverless Data Analytics in the IBM Cloud (IBM-PyWren)</b><br>
Josep Sampé, Gil Vernik, Marc Sánchez-Artigas, Pedro García-López<br>
<i>ACM/IFIP/USENIX Middleware (Industry Track)</i>, 2018  · CORE A (Industry)<br>
<a href="https://doi.org/10.1145/3284028.3284029" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
⭐ <b>Crystal: Software-Defined Storage for Multi-Tenant Object Stores</b><br>
Raúl Gracia-Tinedo, Josep Sampé, Edgar Zamora-Gómez, <b>Marc Sánchez-Artigas</b>, et al.<br>
<i>USENIX FAST</i>, 2017 · CORE A<br>
<a href="https://www.usenix.org/conference/fast17/technical-sessions/presentation/gracia-tinedo" target="_blank">[Paper]</a>
</p>
</li>

<li>
<p>
⭐ <b>Too Big to Eat: Boosting Analytics Data Ingestion from Object Stores with Scoop</b><br>
Yosef Moatti, Eran Rom, Raúl Gracia-Tinedo, <b>Marc Sánchez-Artigas</b>, et al.<br>
<i>IEEE ICDE</i>, 2017 · CORE A*<br>
<a href="https://doi.org/10.1109/ICDE.2017.243" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
⭐ <b>Data-driven Serverless Functions for Object Storage</b><br>
Josep Sampé, <b>Marc Sánchez-Artigas</b>, Pedro García López, Gerard París<br>
<i>ACM/IFIP/USENIX Middleware</i>, 2017 · CORE A<br>
<a href="https://doi.org/10.1145/3135974.3135980" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
🏆 <b>Dissecting UbuntuOne: Autopsy of a Global-Scale Personal Cloud Back-end</b><br>
Raúl Gracia-Tinedo, Yongchao Tian, Josep Sampé, Hamza Harkous, John Lenton, Pedro García López, <b>Marc Sánchez-Artigas</b>, Marko Vukolić<br>
<i>ACM IMC</i>, 2015 · CORE A · Best Dataset Award<br>
<a href="https://doi.org/10.1145/2815675.2815677" target="_blank">[DOI]</a>
</p>
</li>

<li>
<p>
🏆 <b>A Comparative Study of Hierarchical DHT Systems</b><br>
<b>Marc Sánchez-Artigas</b>, Pedro García, Antonio Fernández Gómez-Skarmeta<br>
<i>IEEE LCN</i>, 2007 · CORE A · Best Paper Award<br>
<a href="https://doi.org/10.1109/LCN.2007.79" target="_blank">[DOI]</a>
</p>
</li>

</ul>



   
      



      
    
    
    
    
    
